@page "/"
@inject HttpClient Http

<PageTitle>Index</PageTitle>

<h1>Raw metrics</h1>

<button class="btn btn-primary fixed-bottom btn-sm" @onclick="UpdateMetrics">Update</button>

<p class="border">@_metrics</p>

@code {
	private string? _metrics;
	private bool _isUpdating;

	protected override async Task OnInitializedAsync()
	{
		await UpdateMetrics();
	}

	private async Task UpdateMetrics()
	{
		if (!_isUpdating)
		{
			_isUpdating = true;
			_metrics = await Http.GetStringAsync("metrics");
			_isUpdating = false;
		}
	}
}